*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height:auto;
    width:auto;
    padding: 1rem;
    border: 2px solid rgb(26, 18, 18);
    background-color: rgba(25, 19, 19, 0.912);
    color:white;
    border-radius: 1rem;
}
#input_box{
    height:4rem;
    width:18rem;
    border-radius: 1rem;
    border: none;
    margin: 0.4rem;;
    background-color: #627283;
    color: aliceblue;
    box-shadow: -2px -2px  10px white;
    font-weight: bolder;
    font-size: larger;
    text-align: right;
    padding-right:16px;
    
}
.button{
    height: 4rem;
    width: 4rem;
    margin: .4rem;
    border-radius: 1rem;
    border: none;
    background-color: #627283;
    color: aliceblue;
    box-shadow: -2px -2px  5px white;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    padding: 10px;
}

::placeholder{
    color: aliceblue;
}

.operator{
    color: orange;
}